{% extends 'todolist/base.html' %}
{% block body_block %}
<h1>Remove Task</h1>
	<div id="table-container" style="margin-top:30px;">

		{% if todos.all %}
			<form  method="POST"  enctype="multipart/form-data" action="{% url 'todolist:remove_task' %}" style="font-size:1em">
				{% csrf_token %}
			<table>
				<tr>
					<th></th>
					<th>TITLE</th>
					<th>DESCRIPTION</th>
					<th>TIME</th>
				</tr>
				{% for todo in todos %}
					<tr>
						<td><input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}" value="{{ todo.id }}"></td>
						<td>{{ todo.title }}</td>
						<td>{{ todo.description }}</td>
						<td>{{ todo.due_time }}</td>
					</tr>
				{% endfor %}
		</table>
		<div class="col-submit">
			<button class="submitbtn" name="taskDelete">Delete Task</button>
		</div>
	</form>
	{% else %}
		<div id='msg' style='background-color:#FBACAC;'>No Tasks Added</div>
	{% endif %}
</div>

{% endblock %}
