@import url(http://fonts.googleapis.com/css?family=Laila:400,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	font-family: Arial, Tahoma, sans-serif;
//background-image:url("../images/itm_back.jpg");
	//background: #e2eef4;
background:rgba(124, 127, 130, 0.15);
	font-size: 62.5%;
	line-height: 1;
	padding-top: 5px;
}

#wrapper{
	margin-left: 200px;
	margin-right: 200px;
border-radius: 5px;
box-shadow: 5px 5px 30px #000;

}

#msg{
margin:10px 0px;
padding:10px 0px;
width: 70%;
margin-left: auto;
margin-right: auto;
text-align: center;
font-size:2em;
}

#logo{

width:15%;
height:100px;
display:inline;
}

#logo2{

width:84.5%;
height:100px;
display:inline;
}

#table-container{
width:100%;
overflow-x:auto;
	background: #fff;
	border: 1px solid #e4e4e4;
	border-radius: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}



th, td {
    border: 1px solid rgba(147, 147, 147, 0.22);
    text-align: left;
    padding: 10px;
}

th{
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	color: #939393;
	cursor: pointer;
	text-align:center;
}

td{
	font-size: 1.2em;
	color: #333;
	text-align:left;
}

tr:nth-child(even){background-color: #f2f2f2}


br {
	display: block;
	line-height: 1.6em;
}

input, textarea {
	-webkit-font-smoothing: antialiased;
	outline: none;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

h1 {
	display: block;
	font-size: 3.1em;
	line-height: 1.45em;
	font-family: 'Laila', serif;
	text-align: center;
	font-weight: bold;
	color: #555;
	text-shadow: 1px 1px 0 #fff;
	margin-top:20px;
	text-decoration:underline;
}


/** form field code**/

form {
	display: block;
	margin-top: 30px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #e4e4e4;
	border-radius: 5px;
	font-size: 0;
}

form> div> label {
	display: block;
	padding: 20px 20px 10px;
	vertical-align: top;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: #939393;
	cursor: pointer;
}

form> div.switch> label {
	padding: 16px 20px 13px;
}

.col-1, .col-2, .col-3, .col-4 {
	border-bottom: 1px solid #e4e4e4;
}

form> div> .col-4 {
	height: 86px;
}

label> input, label> textarea {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 27px;
	line-height: 27px;
	margin: 5px -5px 0;
	padding: 7px 5px 3px;
	border: none;
	outline: none;
	color: #555;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	opacity: .6;
	transition: all linear .3s;
}

.col-submit {
	text-align: center;
	padding: 20px;
}

label> select {
	display: block;
	width: 100%;
	padding: 0;
	color: #555;
	margin: 16px 0 6px;
	font-weight: 500;
	background: transparent;
	border: none;
	outline: none;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 14px;
	opacity: .4;
	transition: all linear .3s;
}

label> textarea:focus, label> input:focus, label> select:focus {
	opacity: 1;
}


/** button code **/

button {
	width: 100%;
	height: 35px;
	border: none;
	border-radius: 4px;
	margin: 0 0 15px 0;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	overflow: hidden;
	outline: none;
}

button.submitbtn {
	background-image: -moz-linear-gradient(#97c16b, #8ab959);
	background-image: -webkit-linear-gradient(#97c16b, #8ab959);
	background-image: linear-gradient(#97c16b, #8ab959);
	border-bottom: 1px solid #648c3a;
	cursor: pointer;
	color: #fff;
}

button.submitbtn:hover {
	background-image: -moz-linear-gradient(#8ab959, #7eaf4a);
	background-image: -webkit-linear-gradient(#8ab959, #7eaf4a);
	background-image: linear-gradient(#8ab959, #7eaf4a);
}

button.submitbtn:active {
	height: 34px;
	border-bottom: 0;
	margin: 1px 0 0 0;
	background-image: -moz-linear-gradient(#7eaf4a, #8ab959);
	background-image: -webkit-linear-gradient(#7eaf4a, #8ab959);
	background-image: linear-gradient(#7eaf4a, #8ab959);
	-moz-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}


/** responsive design media codes**/

@media(min-width: 850px) {
	form> div {
		display: inline-block;
	}
	.col-submit {
		display: block;
	}
	.col-1, .col-2, .col-3, .col-4 {
		box-shadow: 1px 1px #e4e4e4;
		border: none;
	}
	.col-1 {
		width: 100%
	}
	.col-2 {
		width: 50%
	}
	.col-3 {
		width: 33.3333333333%
	}
	.col-4 {
		width: 25%
	}
	.col-submit button {
		width: 30%;
		margin: 0 auto;
	}
}


@media(max-width: 850px) {
	#wrapper{
		margin-left: 0px;
		margin-right: 0px;
	}

}
