{% extends 'loginapp/base1.html' %}
{% block body_block %}

				<form class="login100-form validate-form" id="login-form" method="post"  action="{% url 'loginapp:register' %}">
					{% csrf_token %}
					<span class="login100-form-title">
						User Registration
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Username is required" >
						<input class="input100" type="text" name="{{ user_form.username.html_name }}" id="{{ user_form.username.id_for_label }}" placeholder="Username" >
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="{{ user_form.password.html_name }}" id="{{ user_form.password.id_for_label }}" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>

					</div>

					<div class="wrap-input100 validate-input" data-validate = "Email is required" >
						<input class="input100" type="text" name="{{ user_form.email.html_name }}" id="{{ user_form.email.id_for_label }}" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
					<div class="container-login100-form-btn">

              <div class="error" id="err" style="position:absolute; text-align:center;font-weight:700;z-index:3;">{{ msg }}</div>

						<button class="login100-form-btn" style="margin-top:10%;">
							Register
						</button>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="{% url 'loginapp:user_login' %}">
							Already an Account? Login Here.
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>

{% endblock %}
